html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin-bottom: .6em;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--stone100);
    color: var(--stone600);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}


h1 {
    font-family: 'Young Serif', serif;
    font-size: clamp(1rem, .9rem + 2vw, 2rem);
    font-weight: 500;
    line-height: 1.1;
    color: var(--stone900);
}

h2 {
    font-family: 'Young Serif', serif;
    font-size: clamp(.3rem, 1rem + 1vw, 2rem);
    font-weight: 500;
    color: var(--brown800);
}

h3 {
    font-size: clamp(.3rem, .8rem + 1vw, 2rem);
    font-weight: 600;
    color: var(--rose800);
}

p,
ul,
ol {
    font-size: clamp(.2rem, .6rem + 1vw, 2rem);
}



/*===============================*/
/*===============================*/
/* Utility Classes */
.bold {
    font-weight: 600;
    color: var(--stone900);
}



.container {
    width: 80%;
    margin: 0 auto;
    border-radius: 9px;
    background-color: var(--white);
    padding: 1.4em;
}

.the-meal {
    width: 100%;
    border-radius: 8px;
}

.timing {
    background-color: var(--rose50);
    padding: 1em;
    border-radius: 9px;
}

.timing-meta,
.ingredients-meta {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-left: 1.2em;
}

.instructions-meta {
    margin: 0;
    padding: 0;
    padding-left: 1.2em;
}

.timing-meta li {
    position: relative;
    padding-left: .5em;
}

.timing-meta li::before {
    content: "\2022";
    color: var(--rose800);
    font-size: 2em;
    position: absolute;
    left: -.6em;
    top: -.3em;
}

.ingredients-meta li {
    position: relative;
}

.ingredients-meta li::before{
    content: "\2022";
    color: var(--brown800);
    font-size: 2em;
    position: absolute;
    left: -.6em;
    top: -.3em;
}

.instructions-meta li::marker{
    color: var(--brown800);
    font-weight: 700;
}

.ingredients,
.instructions {
    background-color: var(--white);
    border-bottom: solid 1px var(--stone150);
    padding-bottom: .6em;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}




@media screen and (min-width: 450px) {}