html {
    font-size: 90%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin-bottom: .6em;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--grey900);
    color: var(--white);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    margin-top: 0;
}


h1 {
    font-size: clamp(1rem, .6rem + 2vw, 2rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(.3rem, .6rem + 1vw, 2rem);
    color: var(--green);
    font-weight: 400;
}

p {
    font-size: clamp(.2rem, .5rem + 1vw, 2rem);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}




@media screen and (min-width: 450px) {
    .profile-card {
        width: 60%;
    }

    html {
        font-size: 80%
    }
}